@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>


<nav aria-label="breadcrumb" role="navigation" class="bg-gray text-white">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"> <a href="/">Головна</a> </li>                   
                    <li class="breadcrumb-item active" aria-current="page">Керування ролями</li>
                </ol>
            </div>
        </div>
    </div>
</nav>
<div class="container p-md-3 table-responsive-md bg-white">
    <div class="row pt-md-4">
        <div class="row pt-md-4">
            <div class="col-md-6">
                <h2 class="text-primary">Список ролей</h2>
            </div>
            <div class="col-md-6 text-right">
                <a asp-controller="Roles" asp-action="Create" class="btn btn-primary">
                    <i class="fa-solid fa-circle-plus"></i> &nbsp;
                    Додати нову роль
                </a>
            </div>
        </div>
        <table class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>Назва ролі</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var role in Model)
                {
                    <tr>
                        <td width="80%">@role.Name</td>
                        <td class="text-center">
                            <form asp-action="Delete" asp-route-id="@role.Id" method="post">
                                <div class="w-75 btn-group" role="group">
                                    <a asp-controller="Roles" asp-route-id="@role.Id" asp-action="EditRole" class="btn btn-primary mx-2">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                    </a>
                                    <button type="submit" class="btn btn-danger mx-2">
                                        <i class="fa-solid fa-trash-can"></i>
                                    </button>
                                </div>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
