@model IEnumerable<EuroPlitka_Model.Category>


<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"> Каталог </a>
<div class="dropdown-menu">
    @foreach (var cat in Model)
    {
        <a class="dropdown-item" asp-route-id="@cat.Id" asp-controller="CategoryMenu" asp-action="Index">@cat.Name</a>
        
    }
    <a class="dropdown-item text-cyan" asp-area="" asp-controller="CategoryMenu" asp-action="Index" asp-route-allResultPage="true" >All</a>
</div>
