@model EuroPlitka_Model.News
@{ var title = "Створення інформації";}

<form id="form" method="post" enctype="multipart/form-data">
    @if (Model.Id != 0)
    {
        title = "Оновлення інформації";
        <input asp-for="@Model.Id" hidden />
    }
    <nav aria-label="breadcrumb" role="navigation" class="bg-gray text-white">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"> <a href="/">Головна</a> </li>
                        <li class="breadcrumb-item"><a href="javascript:history.go(-1)">Керування інформації</a></li>
                        <li class="breadcrumb-item active" aria-current="page">@title</li>
                    </ol>
                </div>
            </div>
        </div>
    </nav>
    <div class="border p-3 bg-white">
        <div class=form-group p-3>
            <h2 class="text-info pl-3">@title</h2>
        </div>
        <div class="row">
            <div class="col-md-8">
                @*---------> Title <---------*@
                <div class="form-group row py-2">
                    <div class="col-md-4">
                        <label>Заголовок</label>
                    </div>
                    <div class="col-md-8">
                        <input asp-for="Title" class="form-control" />
                        <span asp-validation-for="Title" class="text-danger"></span> @*строка валидации*@
                    </div>
                </div>
                @*---------> Short Description <---------*@
                <div class="form-group row py-2">
                    <div class="col-md-4">
                        <label>Короткий опис</label>
                    </div>
                    <div class="col-md-8">
                        <textarea asp-for="ShortDescription" class="form-control"></textarea>
                        <span asp-validation-for="ShortDescription" class="text-danger"></span>
                    </div>
                </div>
                @*---------> Image <---------*@
                <div class="form-group row py-2">
                    <div class="col-md-4">Зображення</div>
                    <div class="col-md-8">
                        <input type="file" name="files" id="uploadBox" multiple class="form-control" />
                    </div>
                </div>
                @*--------->LeftSideInfoPicture <---------*@
                <div class="form-group row py-2">
                    <div class="col-md-4">
                        <label>Лівий лейбл</label>
                    </div>
                    <div class="col-md-8">
                        <input asp-for="LeftSideInfoPicture" class="form-control" />
                        <span asp-validation-for="LeftSideInfoPicture" class="text-danger"></span> @*строка валидации*@
                    </div>
                </div>
                @*--------->RightSideInfoPicture <---------*@
                <div class="form-group row py-2">
                    <div class="col-md-4">
                        <label>Правий лейбл</label>
                    </div>
                    <div class="col-md-8">
                        <input asp-for="RightSideInfoPicture" class="form-control" />
                        <span asp-validation-for="RightSideInfoPicture" class="text-danger"></span> @*строка валидации*@
                    </div>
                </div>
                @*--------->Description <---------*@
                <div class="form-group row py-2">
                    <div class="col-md-4">
                        <label>Опис</label>
                    </div>
                    <div class="col-md-8">
                        <textarea asp-for="Description" class="form-control summernote"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>          
                @*--------->Date <---------*@
                <div class="form-group row py-2">
                    <div class="col-md-4">
                        <label>Дата</label>
                    </div>
                    <div class="col-md-8">
                        <input asp-for="DateTime" type="date" id="date"  min="1970-00-01"/>
                        <span asp-validation-for="DateTime" class="text-danger"></span>
                    </div>
                </div>

                @*---------> Button <---------*@
                <div class="form-group row py-2 ">
                    <div class="col-md-8  row  float-left">

                        <div class="col">
                            @if (Model.Id != 0)//update
                            {
                                <input type="submit" class="btn btn-info w-100 " value="Оновити" />
                            }
                            else
                            {
                                <input type="submit" onclick="return validateInput()" class="btn btn-primary w-100 " value="Створити" />
                            }
                        </div>

                        <div class="col">
                            <a asp-controller="News" asp-action="Index" class="btn btn-success  w-100">
                                <i class="fa-solid fa-rotate-left"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            @if (Model.Image != null)
            {
                <div class="col-md-4 ">
                    <img src="@string.Format("data:image/jpg;base64,{0}", Convert.ToBase64String(Model.Image).ToString())" class="w-100" style="border-radius:15px; border:1px solid #bbb; " />
                </div>
            }
        </div>
    </div>



</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }

    <!--summernote -->
    <script>
        $(document).ready(function () {
            $('.summernote').summernote({
                height: 450
            });
        });

        // Скрипт sweetalert2 (54). requare для картинок (стилизованные предупреждения)
        function validateInput() {
            if (document.getElementById("uploadBox").value == "") {
                Swal.fire(
                    'Error',
                    'Pleace upload an inmage!!',
                    'error')
                return false;
            }
            return true;
        }
    </script>
}