
@model EuroPlitka_Model.ViewModels.UsersVM

@using EuroPlitka_Services;
@*@using Microsoft.AspNetCore.Identity*@
@*@inject SignInManager<AplicationUser> SignInManager*@
@*@inject UserManager<AplicationUser> UserManager*@


@{

    string img = Model.aplicationUser.imgUserAva == null ? "/images/avatar-male-3.jpg" : $"{string.Format("data:image/jpg;base64,{0}", Convert.ToBase64String(Model.aplicationUser.imgUserAva).ToString())}";
}


<div class="main-container">
    <section class="bg-white space-sm pb-4">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-auto">
                    <h1 class="h2">Account Settings</h1>
                </div>

            </div>

        </div>

    </section>
    <section class="flush-with-above space-0">
        <div class="bg-white">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active"
                                   id="overview-tab"
                                   data-toggle="tab"
                                   href="#profile"
                                   role="tab"
                                   aria-selected="true">Profile</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link"
                                   id="security-tab"
                                   data-toggle="tab"
                                   href="#security"
                                   role="tab"
                                   aria-selected="false">Change Password</a>
                            </li>
                            @if (User.IsInRole(WebConstanta.AdminRole))
                            {
                                <li class="nav-item">
                                    <a class="nav-link"
                                       id="role-tab"
                                       data-toggle="tab"
                                       href="#role"
                                       role="tab"
                                       aria-selected="false">Manage Role</a>
                                </li>
                            }

                        </ul>
                    </div>

                </div>

            </div>

        </div>
    </section>
    <section class="flush-with-above height-80 d-block">
        <form asp-action="EditProfile" method="post" class="m-2" enctype="multipart/form-data">
            <input asp-for="EditUserVM.Id"  />
            <input asp-for="EditUserVM.FullName"  />
            <div class="tab-content">
                <div class="tab-pane fade show active" id="profile" role="tabpanel">
                    <div class="container">
                        <div class="row">

                            <div class="col-12">

                                <div class="media flex-wrap mb-4 align-items-center">

                                    <img id="imagePreview" alt="Image" src="@img" class="avatar avatar-lg mb-3 mb-md-0" />

                                    <div class="media-body">

                                        <label asp-for="EditUserVM.Image" class="custom-file mb-2" for="file2">
                                            <input asp-for="EditUserVM.Image" type="file" id="file2" class="custom-file-input height-0" />
                                            <span class="btn btn-primary"><i class="icon-upload-to-cloud">&nbsp;</i>Upload</span>
                                            <span asp-validation-for="EditUserVM.Image" class="text-danger"></span>
                                        </label>

                                        <div class="mt-2">
                                            <small>For best results, use an image at least 256px by 256px in either .jpg or .png format</small>
                                        </div>

                                    </div>
                                </div>


                            </div>


                        </div>
                        <hr />
                        <div class="row mb-4">
                            <div class="col">
                                <h5>Profile Information</h5>
                            </div>

                        </div>
                        <div class="row">

                            <div class="col-12 col-md-8 order-md-1">

                                <div class="col-6">

                                    <div class="form-group">
                                        <label asp-for="EditUserVM.FullName">FullName:</label>
                                        <input asp-for="EditUserVM.FullName" type="text" class="form-control form-control-lg" />
                                        <span asp-validation-for="EditUserVM.FullName" class="text-danger"></span>
                                    </div>

                                </div>
                                <div class="col-6">

                                    <div class="form-group">
                                        <label asp-for="EditUserVM.City">City:</label>
                                        <input asp-for="EditUserVM.City" type="text" class="form-control form-control-lg" />
                                        <span asp-validation-for="EditUserVM.City" class="text-danger"></span>
                                    </div>

                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label asp-for="EditUserVM.StreetAddress">StreetAddress:</label>
                                        <input asp-for="EditUserVM.StreetAddress" type="text" class="form-control form-control-lg" />
                                        <span asp-validation-for="EditUserVM.StreetAddress" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label asp-for="EditUserVM.PhoneNumber">PhoneNumber:</label>
                                        <input asp-for="EditUserVM.PhoneNumber" type="text" class="form-control form-control-lg" />
                                        <span asp-validation-for="EditUserVM.PhoneNumber" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <label>About me:</label>
                                        <textarea class="form-control form-control-lg" name="Description" rows="4"> @Model.EditUserVM.Description</textarea>
                                    </div>
                                </div>

                                <div class="form-group row py-2">
                                    <div class="col">
                                        <input type="submit" class="btn btn-success w-100" value="Save changess" onclick="myFunction()">
                                    </div>
                                    @if (User.IsInRole(WebConstanta.AdminRole))
                                    {
                                        <div class="col">
                                            <a asp-controller="User" asp-action="Index" class="btn btn-primary  w-100">
                                                List User
                                            </a>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col">
                                            <a asp-controller="Home" asp-action="Index" class="btn btn-primary  w-100">
                                                <i class="fa-solid fa-rotate-left"></i>
                                            </a>
                                        </div>
                                    }
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="role" role="tabpanel">
                    <div class="container">
                        <partial name="EditRoleUser" />
                    </div>
                </div>
                <div class="tab-pane fade" id="security" role="tabpanel">
                    <div class="container">
                        <partial name="_ChangePassword" />
                    </div>
                </div>
            </div>
        </form>
    </section>
</div>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />


    <script type="text/javascript">



        document.getElementById("file2").addEventListener("change", function () {
            if (document.getElementById('file2').files && document.getElementById('file2').files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#imagePreview').attr('src', e.target.result);
                }

                reader.readAsDataURL(document.getElementById('file2').files[0]); // convert to base64 string
            }
        });



    </script>



}