@using EuroPlitka_Model
@using EuroPlitka_Services;
@using Microsoft.AspNetCore.Identity;
@inject UserManager<AplicationUser> UserManager
@inject RoleManager<IdentityRole> _roleManager
@model IEnumerable<EuroPlitka_Model.AplicationUser>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    var roleList = _roleManager.Roles.ToList();
}
@if (User.Identity.IsAuthenticated)
{
    <nav aria-label="breadcrumb" role="navigation" class="bg-gray text-white">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"> <a href="/">Головна</a> </li>
                        <li class="breadcrumb-item active" aria-current="page">Керування користувачами</li>
                    </ol>
                </div>
            </div>
        </div>
    </nav>
    <div class="container p-md-3 table-responsive-md bg-white">
        <div class="row pt-md-4">
            <div class="col-md-6">
                <h2 class="text-primary">@Localizer["UsrIndexListUsers"]</h2>
            </div>
            <div class="col-md-6 text-right">
                <a asp-controller="Account" asp-action="Register" class="btn btn-primary"><i class="fa-solid fa-circle-plus"></i> &nbsp;@Localizer["UsrIndexCreatAdmin"]</a>
            </div>
        </div>
    </div>




    <section class="flush-with-above">
        <div class="container">
            <div class="text-center">
                <button class="btn btn-dark filter-button" data-filter="all">All</button>  <!-- data-filter - attribute name for javascript-->
                @foreach (var obj in roleList)
                {
                    <button class="btn btn-outline-secondary filter-button" data-filter="@obj"> @obj </button>
                }
            </div>

            <div class="row">
                <div class="col">
                    <table class="table table-hover align-items-center table-borderless">
                        <tbody>
                            @foreach (var user in Model)
                            {
                                <partial name="_AllUsersPartial" model="user" />
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="modDialog" class="modal fade">
                <div id="dialogContent" class="modal-dialog"></div>
            </div>
        </div>

    </section>
}

@section Scripts
    {
    <!--for filter main menu-->
    <script>
        $(document).ready(function () {

            $(".filter-button").click(function () {

                var value = $(this).attr('data-filter');
                if (value == "all") {
                    $('.filter').show('1000');
                }
                else {
                    $(".filter").not('.' + value).hide('3000');
                    $(".filter").filter('.' + value).show('3000');
                }
            });
        });

        $(function () {
            $.ajaxSetup({ cache: false });
            $(".compItem").click(function (e) {

                e.preventDefault();
                $.get(this.href, function (data) {
                    $('#dialogContent').html(data);
                    $('#modDialog').modal('show');
                });
            });
        })
    </script>
}
