@using EuroPlitka_Model
@using EuroPlitka_Services;
@using Microsoft.AspNetCore.Identity;
@inject UserManager<AplicationUser> UserManager
@inject RoleManager<IdentityRole> _roleManager
@model IEnumerable<EuroPlitka_Model.AplicationUser>

@{
    var roleList = _roleManager.Roles.ToList();
}


<section class="flush-with-above">
    <div class="container">
        <div class="text-center">
            <button class="btn btn-dark filter-button" data-filter="all">All</button>  <!-- data-filter - attribute name for javascript-->
            @foreach (var obj in roleList)
            {
                <button class="btn btn-outline-secondary filter-button" data-filter="@obj"> @obj </button>
            }
        </div>

        <div class="row">
            <div class="col">
                <table class="table table-hover align-items-center table-borderless">
                    <tbody>
                        @foreach (var user in Model)
                        {
                            <partial name="_AllUsersPartial" model="user" />
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div id="modDialog" class="modal fade">
            <div id="dialogContent" class="modal-dialog"></div>
        </div>
    </div>

</section>


@section Scripts
    {
    <!--for filter main menu-->
    <script>
        $(document).ready(function () {

            $(".filter-button").click(function () {

                var value = $(this).attr('data-filter');
                if (value == "all") {
                    $('.filter').show('1000');
                }
                else {
                    $(".filter").not('.' + value).hide('3000');
                    $(".filter").filter('.' + value).show('3000');
                }
            });
        });

        $(function () {
            $.ajaxSetup({ cache: false });
            $(".compItem").click(function (e) {

                e.preventDefault();
                $.get(this.href, function (data) {
                    $('#dialogContent').html(data);
                    $('#modDialog').modal('show');
                });
            });
        })
    </script>
}
