@using EuroPlitka_Services
@model EuroPlitka_Model.ViewModels.OrderListVm


@{
    var cnt = Model.OrderHeaderList.Count();
    var cnntt = Model.cnt1;
  
}
<nav aria-label="breadcrumb" role="navigation" class="bg-gray text-white">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"> <a href="/">Головна</a> </li>
                    <li class="breadcrumb-item active" aria-current="page">Історія замовлень</li>
                </ol>
            </div>
        </div>
    </div>
</nav>


<div class=" bg-white p-3 ">
    <h5 class="text-info">Історія замовлень користувача</h5>

    <ejs-grid id="Grid" dataSource="@Model.OrderHeaderList" owHeight="38" allowFiltering="true" allowSorting="true" allowPaging="true">
        <e-grid-filtersettings type="Menu"></e-grid-filtersettings>
        <e-grid-pagesettings pageSize="6"></e-grid-pagesettings> <!-- кол-тво елементов на странице -->
        <e-grid-columns>

            <e-grid-column field="Id" headerText="ID" isPrimaryKey="true" textAlign="Right" width="100"></e-grid-column>

            <e-grid-column field="FullName" headerText="Імя" textAlign="Right" width="100"></e-grid-column>
            <e-grid-column field="СountItem" headerText="Кількість позицій" textAlign="Right" width="100"></e-grid-column>
            <e-grid-column field="FinalOrderTotal" headerText="Загальна ціна" textAlign="Right" width="100"></e-grid-column>
            <e-grid-column field="PhoneNumber" headerText="Номер телефону" textAlign="Right" width="100"></e-grid-column>
         
            <e-grid-column field="OrderDate" headerText="Дата замовлення" customFormat="@(new {type="date", format="MM/dd/yyyy"})" textAlign="Right" width="100"></e-grid-column>
            <e-grid-column field="Id" headerText="" width="70"
                           template="<a rel'nofollow' href='DetailsOrder/${Id}' class='btn btn-primary'> <i class='fas fa-list'></i> </a>"></e-grid-column>
        </e-grid-columns>
    </ejs-grid>



</div>