@using EuroPlitka_Services
@model EuroPlitka_Model.ViewModels.OrderListVm


@{
    var cnt = Model.OrderHeaderList.Count();
    var cnntt = Model.cnt1;
  
}


<div class=" bg-white p-3 ">


    <ejs-grid id="Grid" dataSource="@Model.OrderHeaderList" owHeight="38" allowFiltering="true" allowSorting="true" allowPaging="true">
        <e-grid-filtersettings type="Menu"></e-grid-filtersettings>
        <e-grid-pagesettings pageSize="6"></e-grid-pagesettings> <!-- кол-тво елементов на странице -->
        <e-grid-columns>

            <e-grid-column field="Id" headerText="ID" isPrimaryKey="true" textAlign="Right" width="100"></e-grid-column>

            <e-grid-column field="FullName" headerText="Name" textAlign="Right" width="100"></e-grid-column>
            <e-grid-column field="countItem" headerText="Count Items" textAlign="Right" width="100"></e-grid-column>
            <e-grid-column field="FinalOrderTotal" headerText="FinalOrderTotal" textAlign="Right" width="100"></e-grid-column>
            <e-grid-column field="PhoneNumber" headerText="Phone Number" textAlign="Right" width="100"></e-grid-column>
         
            <e-grid-column field="OrderDate" headerText="Order Date" customFormat="@(new {type="date", format="MM/dd/yyyy"})" textAlign="Right" width="100"></e-grid-column>
            <e-grid-column field="Id" headerText="" width="70"
                           template="<a rel'nofollow' href='DetailsOrder/${Id}' class='btn btn-primary'> <i class='fas fa-list'></i> </a>"></e-grid-column>
        </e-grid-columns>
    </ejs-grid>



</div>