<div class="container container-full-height mb-4">
    <div class="row g-3 m-4 sh1">
        <div class="col-lg-9">
            <div class="p-3 shadow-sm" style="border: 1px solid #efefef;">
                <h1>Про нас</h1>
                <p>EuroPlitka - прямий імпортер керамічної плитки з Іспанії та Італії.<span>&nbsp;&nbsp;</span></p>
                <p>&nbsp;</p>
                <h3>Що ми пропонуємо</h3>
                <p><strong>Широкий асортимент</strong> керамічної плитки з Іспанії та Італії. <br>Усю кераміку ми імпортуємо самі, обираючи найкращі колекції на міжнародних виставках Cersaie та Cevisama. Асортимент оновлюється кожні півроку, тому відповідає найновішим трендам керамічної моди.</p>
                <p><br><strong>Комфортний шоу-рум.</strong> Ми розташували усі колекції за дизайнами, а не за брендами чи цінами, як це зазвичай роблять. Тому вам не доведеться блукати залами в пошуках потрібної колекції - просто порівнюйте плитку одного стилю і обирайте найкращу.</p>
                <p>&nbsp;</p>
                <h3>Чого ми прагнемо</h3>
                <p>Створювати тренди на ринку кераміки і робити покупку простою та комфортною - місія EuroPlitka.</p>
            </div>
        </div>

        <div class="d-none d-lg-block col-lg-3 ">
            <div class="list-group-style-1 p-2 shadow-sm" style="position: sticky;top: 78px;    border: 1px solid #efefef;">
                <a href="#" class="list-group-item ">Доставка та оплата</a>
                <a href="#" class="list-group-item ">Повернення товару</a>
                <a href="#" class="list-group-item  active">Про компанію</a>
            </div>
        </div>
    </div>
</div>