@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Інтернет-магазин керамічної плитки</h1>

</div>
<section class="bg-dark space-lg" data-jarallax data-speed="0.2">
    <img alt="Image" src="/images/mainLogo.jpg" class="bg-image position-absolute opacity-20" />
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-12 col-md-6 col-lg-5 section-intro">
                <h1 class="display-3">Знайди свою плитку для будь чого</h1>
                <span class="lead">
                    У нашому каталозі Ви можете підібрати за потрібними параметрами плитку на будь-який смак з доставкою по всій Україні.
                </span>

            </div>
            <!--end of col-->
            
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
