@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<section class="bg-dark space-lg" data-jarallax data-speed="0.2">
    <img alt="Image" src="/images/photo-road.jpg" class="bg-image position-absolute opacity-20" />
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-12 col-md-6 col-lg-5 section-intro">
                <h1 class="display-3">Find a running group</h1>
                <span class="lead">
                    A community of devoted runners, passionate about running and life. Ready to find your accountability partner?
                </span>

            </div>
            <!--end of col-->
            
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
