<div class="modal-content">
    <div class="modal-header">
        <button class="btn btn-close" data-bs-dismiss="modal" area-hidden="true"></button>
       
    </div>
    <div class="modal-body">
        <dl class="dl-horizontal">
            <dt>Название модели:</dt>
         
        </dl>
    </div>
    <div class="modal-footer"></div>
</div>