@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<h3>Список моделей</h3>
<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog"></div>
</div>
<ul>
    
        <li>
            @Html.ActionLink("Home", "Modal",
        new { id = 6 }, new { @class = "compItem" })
        </li>
    
</ul>
<a asp-controller="Home" asp-action="Modal" asp-route-id="5" class="compItem">Modal</a>
@section scripts
    {
    <script type="text/javascript">

        $(function () {
            $.ajaxSetup({ cache: false });
           $(".compItem").click(function (e) {

                e.preventDefault();
                $.get(this.href, function (data) {
                    $('#dialogContent').html(data);
                    $('#modDialog').modal('show');
                });
            });
        })
    </script>
}