@model IEnumerable<EuroPlitka_Model.Product>



<div id="searchresults">

    <h3>Все книги автора : @Model.First().Name</h3>
    <ul>
        @foreach (var item in Model)
        {
            <li>@item.Name</li>
        }
    </ul>

</div>